[user]
	name = Jeffrey Paine
	email = jeff@jeffpaine.com
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	s = status
	st = status --short --branch --ignore-submodules=untracked
	pom = push origin main
	cam = commit --all --message
	cm = commit --message
	co = checkout
	c = commit
[pager]
	branch = false
[pull]
	# Only fast-forward merges (generally safe), or fail.
	# https://stackoverflow.com/a/71774640.
	ff = only
